/* .headerContainer{
    display: flex;
    flex-direction: row;
    height: 90px;
    box-shadow: 0px 3px 6px #00000029;
    justify-content: center;
    background-color: black;
    position: sticky;
  }
  .headerBox{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between ;
    align-items: center;
  }
  .headerInnerBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    font: italic bolder 1.5em "Fira Sans", serif;    
    gap: 25px;
    color: white;
  }
  .headerLogo{
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .ducatiLogo{
    width: 50px;
    height: 35px;
    justify-self: flex-end;
  } */